# Pair programming Gestión de Ficheros

En este pair vamos a trabajar la apertura y exploración de archivos. Para finalmente guardar el archivo con un formato diferente.

vamos a utilizar el fichero videogames.csv

In [1]:
import xml.etree.ElementTree as ET
import json
import pandas as pd

1. Hacer las importaciones necesarias para abrir un archivo de tipo "csv" en Pandas.

In [16]:
df_videogames = pd.read_csv("videogames.csv")

2. Abrir el archivo, creando un Dataframe. Aseguraros de que no incluye la columna "Unnamed: 0".

In [17]:
df_videogames = pd.read_csv("videogames.csv", index_col=0)

In [18]:
df_videogames.head()

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

3. Una vez creado el Dataframe, muestra las 10 primeras filas.

In [19]:
df_videogames.head(10)

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
5,The Last of Us: Part II,https://www.imdb.com/title/tt6298000/?ref_=adv...,2020.0,M,8.5,"30,460","Five years after the events of The Last of Us,...",True,True,False,False,False,False,False,False,False
6,Horizon Forbidden West,https://www.imdb.com/title/tt12496904/?ref_=ad...,2022.0,T,9.2,"2,979",Aloy treks into an arcane region and faces new...,True,True,False,False,False,False,True,False,False
7,The Last of Us,https://www.imdb.com/title/tt2140553/?ref_=adv...,2013.0,M,9.7,"60,590","In a hostile, post-pandemic world, Joel and El...",True,True,False,False,False,False,False,False,False
8,Detroit: Become Human,https://www.imdb.com/title/tt5158314/?ref_=adv...,2018.0,M,9.2,"16,907",Take control of three androids in their quest ...,True,True,False,False,False,False,False,False,False
9,Death Stranding,https://www.imdb.com/title/tt5807606/?ref_=adv...,2019.0,M,8.8,"8,136",Deliveryman Sam Porter must travel across a ra...,True,True,False,False,False,False,False,False,False

4. ¿Cúal es el último índice que tenemos en el Dataframe?

In [20]:
df_videogames.tail(1)

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

In [8]:
print ('El último índice de nuesto data frame es el 20802 (tenemos 20803 filas)')

El último índice de nuesto data frame es el 20802 (tenemos 20803 filas)

5. Mostrar 15 filas aleatorias.

In [21]:
df_videogames.sample(n=15)

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
17882,The Binding of Isaac: Rebirth,https://www.imdb.com/title/tt4276210/?ref_=adv...,2014.0,M,8.0,840,Isaac escapes through his basement and fights ...,True,True,False,False,False,True,False,False,False
12760,Angelo & Deemon: One Hell of a Quest,https://www.imdb.com/title/tt10487280/?ref_=ad...,2019.0,NaN,7.8,6,Add a Plot,False,True,False,False,False,False,False,False,False
19794,Consortium,https://www.imdb.com/title/tt4258216/?ref_=adv...,2014.0,NaN,8.0,19,Interdimensional Games have developed a satell...,False,False,False,False,False,False,False,True,False
16546,Make Trax,https://www.imdb.com/title/tt2112930/?ref_=adv...,1981.0,NaN,4.5,10,Add a Plot,False,False,False,False,True,False,False,False,False
15128,Ara Fell,https://www.imdb.com/title/tt19755104/?ref_=ad...,2020.0,T,NaN,NaN,Take in the beauty of a magical world floating...,True,True,False,False,False,True,False,False,False
456,ARK: Genesis - Part 2,https://www.imdb.com/title/tt13673396/?ref_=ad...,2021.0,T,2.9,193,ARK: Genesis Part 2 introduces a vast contiguo...,True,True,True,False,False,False,False,False,False
7934,Karate Blazers,https://www.imdb.com/title/tt2882680/?ref_=adv...,1991.0,NaN,5.1,9,Add a Plot,True,False,False,False,False,False,False,False,False
8316,Tokumei Sentai Go-Busters,https://www.imdb.com/title/tt2313200/?ref_=adv...,2012.0,NaN,NaN,NaN,Add a Plot,True,False,False,False,False,False,False,False,False
8674,Jazz Jackrabbit,https://www.imdb.com/title/tt0936483/?ref_=adv...,1994.0,NaN,7.3,137,When the planet of Carrotus is attacked by the...,True,True,False,False,False,False,False,False,False
8240,Ecks vs. Sever,https://www.imdb.com/title/tt0350872/?ref_=adv...,2001.0,T,4.5,27,"This game follows the story of Ecks, an ex-FBI...",True,True,False,False,False,False,False,True,False
14438,King of Thieves,https://www.imdb.com/title/tt12796944/?ref_=ad...,2015.0,E,7.1,8,"Steal gems, build your defenses and win guild ...",True,True,False,True,False,False,False,False,False
11720,Angels of Death,https://www.imdb.com/title/tt12724044/?ref_=ad...,2016.0,NaN,6.6,15,An amnesiac girl and a serial killer trapped t...,False,True,False,False,False,False,False,False,False
6877,Space Encounters,https://www.imdb.com/title/tt2090617/?ref_=adv...,1980.0,NaN,NaN,NaN,Add a Plot,True,False,False,False,False,False,False,True,False
3404,Destiny: Rise of Iron,https://www.imdb.com/title/tt6029540/?ref_=adv...,2016.0,NaN,7.9,514,Follow Lord Saladin beyond the borders of the ...,True,True,False,False,False,True,False,False,False
14828,Driftland: The Magic Revival,https://www.imdb.com/title/tt10700218/?ref_=ad...,2019.0,NaN,6.1,13,"After a devastating war between ancient mages,...",False,True,False,False,False,True,False,False,False

6. Crea una lista con el nombre de las columnas.

In [22]:
df_videogames.columns.tolist()

['name',
 'url',
 'year',
 'certificate',
 'rating',
 'votes',
 'plot',
 'Action',
 'Adventure',
 'Comedy',
 'Crime',
 'Family',
 'Fantasy',
 'Mystery',
 'Sci-Fi',
 'Thriller']

7. Guardar el Dataframe en formato Excel y después crear un Dataframe con el Excel. ¿EL Dataframe es similar al que teníais antes?

In [27]:
df_videogames.to_excel("videogames.xlsx")

In [28]:
df_videogames_excel = pd.read_excel("videogames.xlsx",index_col=0)

In [29]:
df_videogames.head()

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [ ]:
print ('Sí: ambos dataframe son iguales')

8. Muestra la "info" del Dataframe.

In [30]:
df_videogames_excel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20803 entries, 0 to 20802
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         20803 non-null  object
 1   url          20803 non-null  object
 2   year         20536 non-null  float64
 3   certificate  7903 non-null   object
 4   rating       11600 non-null  float64
 5   votes        11600 non-null  object
 6   plot         20803 non-null  object
 7   Action       20803 non-null  bool
 8   Adventure    20803 non-null  bool
 9   Comedy       20803 non-null  bool
 10  Crime        20803 non-null  bool
 11  Family       20803 non-null  bool
 12  Fantasy      20803 non-null  bool
 13  Mystery      20803 non-null  bool
 14  Sci-Fi       20803 non-null  bool
 15  Thriller     20803 non-null  bool
dtypes: bool(9), float64(2), object(5)
memory usage: 1.4+ MB

9. ¿Tiene nulos o duplicados?

In [31]:
valores_nulos_por_columna = df_videogames_excel.isnull().sum()
print("Valores nulos por columna:")
print(valores_nulos_por_columna)

Valores nulos por columna:
name               0
url                0
year             267
certificate    12900
rating          9203
votes           9203
plot               0
Action             0
Adventure          0
Comedy             0
Crime              0
Family             0
Fantasy            0
Mystery            0
Sci-Fi             0
Thriller           0
dtype: int64

In [32]:
duplicados = df_videogames_excel.duplicated().sum()
print("\nCantidad de filas duplicadas:", duplicados)

Cantidad de filas duplicadas: 1

10. Obtener la descripción del Dataframe, tanto de las columnas numéricas cómo de las de tipo "object". Explorar el resultado y sacar unas mínimas conclusiones sobre los datos que habéis obtenido.

In [33]:
# Obtener estadísticas descriptivas para columnas numéricas
descripcion_numericas = df_videogames.describe()
print("Estadísticas descriptivas para columnas numéricas:")
print(descripcion_numericas)

Estadísticas descriptivas para columnas numéricas:
               year        rating
count  20536.000000  11600.000000
mean    2005.568611      7.047526
std       11.846028      1.235204
min     1952.000000      1.000000
25%     1997.000000      6.400000
50%     2008.000000      7.200000
75%     2016.000000      7.900000
max     2027.000000      9.700000

# conclusiones sobre los años de los videojuegos:
 - la media de año de los videojuegos es el año 2005
 - el primer año con datos es 1952 y el último año con datos es 2027 (entendemos que se refieren a año de lanzamiento del videojuego)
 - el 25% de los datos son de años entre 1952 y 1997
 - el 50% de los datos son de años entre 1952 y 2008
 - el 75% de los datos son de años entre 1952 y 2016
 - deducimos que el 25% de los datos restantes se componen en fecha de lanzamiento entre 2017 y 2027

In [34]:
# Obtener información de las columnas de tipo "object"
columnas_object = df_videogames.select_dtypes(include='object').columns.tolist()

for columna in columnas_object:
    print(f"\nInformación para la columna '{columna}':")
    print(f"Número de valores únicos: {df_videogames[columna].nunique()}")
    print("Valores únicos:")
    print(df_videogames[columna].unique())
    print("\nConteo de valores:")
    print(df_videogames[columna].value_counts())

Información para la columna 'name':
Número de valores únicos: 19714
Valores únicos:
['Spider-Man' 'Red Dead Redemption II' 'Grand Theft Auto V' ... 'Shutter'
 'The Music Machine' 'Cryptic']

Conteo de valores:
Spider-Man                        9
God of War                        6
Sonic the Hedgehog                6
Star Trek                         6
Resident Evil 2                   5
                                 ..
Elevator Action                   1
Nobuyuki Forces 4                 1
Cross Fire: king of gun battle    1
Duke: Nuclear Winter              1
Cryptic                           1
Name: name, Length: 19714, dtype: int64

Información para la columna 'url':
Número de valores únicos: 20157
Valores únicos:
['https://www.imdb.com/title/tt5807780/?ref_=adv_li_tt'
 'https://www.imdb.com/title/tt6161168/?ref_=adv_li_tt'
 'https://www.imdb.com/title/tt2103188/?ref_=adv_li_tt' ...
 'https://www.imdb.com/title/tt5119948/?ref_=adv_li_tt'
 'https://www.imdb.com/title/tt5142082/?ref_=adv_li_tt'
 'https://www.imdb.com/title/tt10964974/?ref_=adv_li_tt']

Conteo de valores:
https://www.imdb.com/title/tt5807780/?ref_=adv_li_tt     4
https://www.imdb.com/title/tt6298000/?ref_=adv_li_tt     4
https://www.imdb.com/title/tt1764429/?ref_=adv_li_tt     4
https://www.imdb.com/title/tt12693278/?ref_=adv_li_tt    4
https://www.imdb.com/title/tt9395474/?ref_=adv_li_tt     4
                                                        ..
https://www.imdb.com/title/tt0475078/?ref_=adv_li_tt     1
https://www.imdb.com/title/tt8170768/?ref_=adv_li_tt     1
https://www.imdb.com/title/tt8051086/?ref_=adv_li_tt     1
https://www.imdb.com/title/tt13283136/?ref_=adv_li_tt    1
https://www.imdb.com/title/tt10964974/?ref_=adv_li_tt    1
Name: url, Length: 20157, dtype: int64

Información para la columna 'certificate':
Número de valores únicos: 21
Valores únicos:
['T' 'M' nan 'E10+' 'E' 'Unrated' 'AO' 'K-A' 'Not Rated' 'GA' '12' 'TV-14'
 'MA-13' 'PG-13' 'EC' 'Approved' 'G' 'MA-17' 'PG' 'CE' 'Passed' 'TV-MA']

Conteo de valores:
T            2474
E            2006
M            1820
E10+          814
Unrated       241
K-A           227
Not Rated     184
AO             32
GA             26
EC             25
CE             13
12              9
PG-13           7
MA-13           7
Approved        4
G               4
MA-17           3
PG              3
TV-MA           2
Passed          1
TV-14           1
Name: certificate, dtype: int64

Información para la columna 'votes':
Número de valores únicos: 1905
Valores únicos:
['20,759' '35,703' '59,986' ... '5,029' '1,357' '3,025']

Conteo de valores:
7        318
9        295
8        294
10       287
12       259
        ...
2,325      1
5,028      1
948        1
1,253      1
3,025      1
Name: votes, Length: 1905, dtype: int64

Información para la columna 'plot':
Número de valores únicos: 11276
Valores únicos:
["When a new villain threatens New York City, Peter Parker and Spider-Man's worlds collide. To save the city and those he loves, he must rise up and be greater."
 'Amidst the decline of the Wild West at the turn of the 20th century, outlaw Arthur Morgan and his gang struggle to cope with the loss of their way of life.'
 'Three very different criminals team up for a series of heists and walk into some of the most thrilling experiences in the corrupt city of Los Santos.'
 ...
 'A tech support man who uses a drone to investigate reports of vandalism at a secluded cabin.'
 'A young teenage girl and the ghost of a dead man explore a mysterious island.'
 'Kidnapped by an insane man and dragged into a dark crypt, your only choice is to play along with his twisted games or suffer the consequences for non-compliance.']

Conteo de valores:
Add a Plot                                                                                                                                                                                                                       8874
A Pokémon trainer adventures through the Kanto Region to achieve their destiny of becoming a Pokemon Champion.                                                                                                                      5
Zen Pinball features hit tables based on some of the biggest brands in entertainment, including Marvel Comics, Star Wars, ALIEN, The Walking Dead and more, Zen Pinball is your go-to place for all of your pinball cravings.       5
The player is the Stranger, an unknown person mysteriously transported to the island of Myst. Alone and without clues, the Stranger must solve the mysteries and discover the secrets of this strange place.                        5
When a new villain threatens New York City, Peter Parker and Spider-Man's worlds collide. To save the city and those he loves, he must rise up and be greater.                                                                      4
                                                                                                                                                                                                                                 ...
Set in a post-apocalyptic future, Armored Core 3 depicts a world where mankind has begun to live underneath the Earth's surface after a catastrophic global nuclear war broke out on the ... See full summary »                     1
Choose your side and enter a war for independence, Fight along side a Joint Force to neutralize the threat, or fight for independence as a separatist.                                                                              1
Kogama is a construction online game where you can create and share your own games, sell your creations on the market and play all types of games created by the community.                                                         1
Dungeons and Dragons: Chronicles of Mystara is an enhanced re-release of Dungeons and Dragons: Tower of Doom and Dungeons and Dragons: Shadow over Mystara. Besides the obvious differences ... See full summary »                  1
Kidnapped by an insane man and dragged into a dark crypt, your only choice is to play along with his twisted games or suffer the consequences for non-compliance.                                                                   1
Name: plot, Length: 11276, dtype: int64

11. Finalmente, guarda el Dataframe en formato "csv" con un nombre diferente del original.

In [35]:
df_videogames.to_csv("videojuegos.csv")